

.fan{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 position: absolute;
 top: 20%;
 left: 12%;
}

i{
 animation: fan linear  infinite;
 font-size: 50vmin;
}

@keyframes fan{
 100%{
  transform: rotate(360deg);
 }
}

button{
 padding: 10px;
 border-radius: 50%;
 margin-top: 30%;
 margin-left: 15px;
}

button:hover{
 background:blue;
 color: white;
}

